.bg-rougebordeaux {
  background-color: #d4574a;
}

.color-dark {
  color: #000;
}

.navbar-logo img {
  height: 53px;
  width: 53px;
}

@media screen and (max-width: 768px) {
  header nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .d-none-u-991 {
    display: none;
  }
}

.search-section {
  background: url(/assets/img/main-page-cover.jpg) no-repeat center;
  opacity: 0.9;
  width: 100%;
  height: 500px;
  background-size: cover;
}

.search-section::before {
  background-color: rgba(0, 0, 0, 0.37);
  content: "";
  display: block;
  height: 500px;
  position: absolute;
  width: 100%;
}

.zi-1 {
  z-index: 1;
}

.search-form {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 11px;
}

.opacity9 {
  opacity: 0.9;
}
